html,body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 80px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 100%;
    visibility: hidden;
    background-color: #fff;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(100%);
  }

  .navbar-nav .nav-link {
    padding-left: 10px;
  }

  .b-example-divider {
    height: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .30);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
}


.slide-row {
    height: 300px;
    display:flex;
    flex-wrap:nowrap;
    overflow-x:auto;
    overflow-y:none;
    -webkit-overflow-scrolling: touch;
}

p.slide-text {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 32px;
    margin: 0 0 24px;

}

p.slide-title {
    border-top: 1px dashed #70673b;
    border-bottom: 1px dashed #70673b;
    padding-left: 2px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #424240;
    background-color: rgba(255, 255, 255, 0.7);
}